:root {
    --darkBlueBox: #1E2840;
    --purpleBox: #2F1842;
    --darkRedBox: #37102F;
    --redBox: #3E1010;
    --lightRedBox: #9B454F;
    --dark: #151515;
    --boxWidthHeight: 150px ;
    --marginSite: 150px;
    --boxGap: 20px ; 
}





/* font-family: 'Changa', sans-serif; */
/* font-family: 'Biryani', sans-serif; */